# MAP, FILTER and REDUCE

In [1]:
# map(function,data)

temps = [('Berlin',29),('Cairo',36),('Buenos Airs',19),('Los Angeles',26),('Tokyo',27),('Delhi',35)]

In [2]:
c_to_f = lambda data:(data[0], (9/5)*data[1] + 32)

In [3]:
list(map(c_to_f,temps))

[('Berlin', 84.2),
 ('Cairo', 96.8),
 ('Buenos Airs', 66.2),
 ('Los Angeles', 78.80000000000001),
 ('Tokyo', 80.6),
 ('Delhi', 95.0)]

In [4]:
# filter(function, data)
import statistics 

data= [1.3,2.7,2.9,4.5,2.6,1.9,-2.3,8.0,-2.6]
avg = statistics.mean(data)
avg

2.111111111111111

In [6]:
grt_avg = lambda x: x > avg

data_grt_avg = filter(grt_avg , data)

In [7]:
data_grt_avg ## it is a filter object which is the iterator over the data

In [8]:
list(data_grt_avg) ## it will create a list and returns value

[2.7, 2.9, 4.5, 2.6, 8.0]

In [9]:
# Remove missing functions

countries = ["",'India','China','United States','Brazil','Singapore','','South Africa','','Cananda']

list(filter(None,countries))

['India',
 'China',
 'United States',
 'Brazil',
 'Singapore',
 'South Africa',
 'Cananda']

In [10]:
# reduce function is in the functools module

from functools import reduce

data = [2,3,5,7,9,11,13]

multiplier = lambda x,y: x*y

reduce(multiplier,data)

270270

In [12]:
product = 1

for i in data:
    product = product * i
product

270270

In [13]:
def factorial(x):
    if x ==1:
        return x
    else :
        return x * factorial(x-1)

## List Comprehension

### [expr for val in collection]                                           expr generates the list based on for loop
### [expr for val in collection if 'test']                               expr generates the list based for loop and if consitions
### [expr for val in collextion if test1 and test2]              for multiple if conditions
### [expr for val1 in collection1 and val2 in collection2] for multiple collections

In [20]:
# Squares

square = []
for i in range(1,11):
    square.append(i**2)
square

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [22]:
square1 = [i**2 for i in range(1,11)]
square1

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [23]:
movies = ['godfather','lego','cars','titanic','saving private ryan','troy','cast away','rocky','rambo','harry potter']

movies_t = []
for movie in movies:
    if movie.startswith('t'):
        movies_t.append(movie)
movies_t

['titanic', 'troy']

In [25]:
movies_t1 = [movie for movie in movies if movie.startswith('t')]
movies_t1

['titanic', 'troy']

In [26]:
A = [1,3,5,7]
B = [2,4,6,8]

cartesian_product = [(a,b) for a in A for b in B]
cartesian_product

[(1, 2),
 (1, 4),
 (1, 6),
 (1, 8),
 (3, 2),
 (3, 4),
 (3, 6),
 (3, 8),
 (5, 2),
 (5, 4),
 (5, 6),
 (5, 8),
 (7, 2),
 (7, 4),
 (7, 6),
 (7, 8)]

# Lambda Expression

In [29]:
# lambda input_parameters: return the value
# lambda expression are the nameless functiions

full_name = lambda full, last: full.strip() + " " + last.strip()

full_name ("  Rohit","  Sarkar  ")

'Rohit Sarkar'

In [32]:
# sorting by last name
friends = ['Rahul Roshan','Sourav Roy Choudhary','Kumar Akshit','Saksham Dixit','Rajesh Gupta','Ashish Kumar','Zubin Shyam Sharma']

friends.sort(key=lambda name: name.split(" ")[-1].lower())

friends

['Kumar Akshit',
 'Sourav Roy Choudhary',
 'Saksham Dixit',
 'Rajesh Gupta',
 'Ashish Kumar',
 'Rahul Roshan',
 'Zubin Shyam Sharma']

In [33]:
def quad_func(a,b,c):
    return lambda x:a*x**2 + b*x + c
quad_func(3,4,2)(2) # 3*(2)^2 + 4*2 + 2

22